question: how to handle expired refresh token?

When using `oauth2Client.refreshToken.refresh()`, how do I handle when the refresh token has expired? AFAIK an error is thrown, but I'm not sure which error. My thoughts are it'd be handled like this:
```ts
try {
  await oauth2Client.refreshToken.refresh(refreshToken);
} catch (error) {
  if (isRefreshTokenExpired(error) {
    return null;
  }
  throw error;
}
```

Gently pinging @cmd-johnson.

Hey there!
Sorry for the late reply.

You're on the right track! When the refresh token is expired, the server should return an error response with the `error` field set to `invalid_grant` (as per [RFC6749 section 5.2](https://www.rfc-editor.org/rfc/rfc6749#section-5.2)):

```ts
try {
  await oauth2Client.refreshToken.refresh(refreshToken);
} catch (error) {
  if (error instanceof OAuth2ResponseError && error.error === "invalid_grant") {
    // the refresh token is probably expired
    return null;
  }
  throw error;
}
```

Thanks for getting back to me! `OAuth2ResponseError` is type-only export, so `error instance OAuth2ResponseError` doesn't work. Perhaps, the class should be exported instead of just the type. Could we say the same of the [other errors](https://github.com/cmd-johnson/deno-oauth2-client/blob/52bdaf2261a0975f178c50443c2ee129f37bc791/mod.ts#L3-L8)?

Huh, I totally missed that. Absolutely, those errors shouldn't just be exported as types.

That's an easy fix though! Check out `https://deno.land/x/oauth2_client@v1.0.2/mod.ts` :slightly_smiling_face:

Nice! Thank you. Implemented in https://github.com/denoland/deno_kv_oauth/pull/131